<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-sm navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="logo-group">
        <img src="/assets/images/order-icon.png" alt="order-icon" style="width: 35px; height: 35px">
        <span style="font-size: 20px; margin:auto; ">&Ouml;rder</span>
      </div>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-customer">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/items">Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">Örder</h1>
    <h4 class="mb-3">Best website to "örder" what you need!</h4>
    <a class="btn btn-primary btn-items" style="background-color: #21081a" href="" role="button" routerLink="/items">Items</a>
  </div>
  <!-- Jumbotron -->
</header>

