<footer class="text-white fixed-bottom" style="background-color: #21081a;">
  <div class="row p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-1">
          <img src="assets/images/order-icon.png" style="width: 35px; height: 35px" alt="order-icon">
        </div>
        <div class="col-lg-3">
          <p>&copy; {{year}} &Ouml;rder</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 text-end">
      <p>Contact us: info@eurder.com</p>
    </div>
  </div>
</footer>
