<main>
  <div class="container-fluid">
    <section>
      <div class="form-group">
        <h2>Create Customer</h2>
        <form [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col-lg-6">
              <label for="inputFirstName4">Firstname</label>
              <input type="text" formControlName="firstName" class="form-control" placeholder="First name"
                     id="inputFirstName4">
            </div>
            <div class="col-lg-6">
              <label for="inputLastName4">Lastname</label>
              <input type="text" formControlName="lastName" class="form-control" placeholder="Last name"
                     id="inputLastName4">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" formControlName="email" id="inputEmail4" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-md-4">
                <label for="inputCode4">Country code</label>
                <input type="text" class="form-control" formControlName="code" id="inputCode4" placeholder="+32">
              </div>
              <div class="col-md-8">
                <label for="inputPhoneNumber4">Phone Number</label>
                <input type="text" class="form-control" formControlName="phoneNumber" id="inputPhoneNumber4"
                       placeholder="1234567">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-8">
                <label for="inputStreet">Street</label>
                <input type="text" class="form-control" formControlName="street" id="inputStreet" placeholder="Main St">
              </div>
              <div class="col-lg-4">
                <label for="inputNumber">Number</label>
                <input type="text" class="form-control" formControlName="number" id="inputNumber" placeholder="1234">
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label for="inputZip">Postal Code</label>
                <input type="text" class="form-control" formControlName="postalCode" id="inputZip">
              </div>
              <div class="col-md-8">
                <label for="inputState">Country</label>
                <select id="inputState" class="form-control" formControlName="country">
                  <option selected>Choose...</option>
                  <option>Belgium</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row my-5">
              <div class="d-grid gap-2 col-8">
                <button type="submit" class="btn btn-primary btn-lg btn" style="background: green">CREATE</button>
            </div>
            <div class="d-grid gap-2 col-4">
              <button type="reset" class="btn btn-light btn-lg btn-block">CANCEL</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</main>
