<main>
  <div class="container-fluid">

    <div class="header-search">
      <h2>Items</h2>
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input id="name"
               name="name"
               class="form-control"
               placeholder="Filter by name"
               [(ngModel)]="searchText">
      </div>
    </div>

    <div class="heroes-menu">
      <div *ngFor="let item of items | nameFilter: searchText" class="my-3 mx-1">
        <!-- NAME -->
        <div>{{item.name}}</div>
        <!-- PICTURE -->
        <img class="profile-picture" src="../../../assets/images/eurder.png" alt="profile picture">
        <!-- PRICE AND STOCK URGENCY -->
        <div class="row">
          <div class="col-5">{{item.price}}</div>
          <div class="col-7">{{item.stockUrgency}}</div>
        </div>
      </div>
    </div>

  </div>
</main>
